<%- include('./partials/header.ejs')%>
<title>Create Quiz</title>
<%- include('./partials/navbar.ejs')%>
<br /><br />
<form class="form-control" action="/create-quiz" method="post">
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      name="title"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Quiz Title</label>
  </div>
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      name="sub"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Subject</label>
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Instructions Here"
      name="instructions"
      id="floatingTextarea"
    ></textarea>
    <label for="floatingInput">Instructions</label>
  </div>
  <br />
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q1"
      placeholder=""
    />
    <label for="floatingInput">1) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o11"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o12"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o13"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o14"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c1"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q2"
      placeholder="name@example.com"
    />
    <label for="floatingInput">2) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o21"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o22"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o23"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o24"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c2"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q3"
      placeholder="name@example.com"
    />
    <label for="floatingInput">3) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o31"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o32"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o33"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o34"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c3"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q4"
      placeholder="name@example.com"
    />
    <label for="floatingInput">4) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o41"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o42"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o43"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o44"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c4"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q5"
      placeholder="name@example.com"
    />
    <label for="floatingInput">5) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o51"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o52"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o53"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o54"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c5"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q6"
      placeholder="name@example.com"
    />
    <label for="floatingInput">6) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o61"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o62"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o63"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o64"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c6"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q7"
      placeholder="name@example.com"
    />
    <label for="floatingInput">7) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o71"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o72"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o73"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o74"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c7"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q8"
      placeholder="name@example.com"
    />
    <label for="floatingInput">8) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o81"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o82"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o83"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o84"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c8"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q9"
      placeholder="name@example.com"
    />
    <label for="floatingInput">9) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o91"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o92"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o93"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o94"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c9"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q10"
      placeholder="name@example.com"
    />
    <label for="floatingInput">10) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o101"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o102"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o103"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o104"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c10"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q11"
      placeholder="name@example.com"
    />
    <label for="floatingInput">11) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o111"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o112"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o113"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o114"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c11"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q12"
      placeholder="name@example.com"
    />
    <label for="floatingInput">12) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o121"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o122"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o123"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o124"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c12"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q13"
      placeholder="name@example.com"
    />
    <label for="floatingInput">13) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o131"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o132"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o133"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o134"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c13"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q14"
      placeholder="name@example.com"
    />
    <label for="floatingInput">14) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o141"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o142"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o143"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o144"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c14"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <!-- Question--BEGIN -->
  <div class="form-floating mb-3">
    <input
      required
      type="text"
      class="form-control"
      id="floatingInput"
      name="q15"
      placeholder="name@example.com"
    />
    <label for="floatingInput">15) Enter Question Statement</label>
  </div>
  <ol type="a">
    <br />
    <li>
      <input
        required
        type="text"
        name="o151"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o152"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o153"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <li>
      <input
        required
        type="text"
        name="o154"
        id="floatingInput"
        placeholder="Enter Option"
      />
    </li>
    <br />
    <input
      required
      type="text"
      name="c15"
      id=""
      placeholder="Enter Correct Answer (value)"
    />
  </ol>
  <!-- Question--END -->
  <button
    class="btn btn-primary"
    style="margin-left: 80%; margin-bottom: 10px; margin-top: 10px"
    type="submit"
  >
    Submit
  </button>
</form>
<br />
<%- include('./partials/footer.ejs')%>
