<%- include('./partials/header.ejs')%>
    <title>Teacher Portal</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs')%>
    <div class="formmain">
      <center>
        <p style="color : red">
          <%=msg%>
        </p>
      </center>
      <center>
        <h1>Welcome to Teacher's Portal !</h1>
        <p>Please fill in details to Log In</p>
      </center>
      <br>
      <form action="/login" method="post">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password"  required>
          <label for="floatingPassword">Password</label>
        </div>
        <br>
        <center>
          <button type="submit" class="btn btn-primary">Log In</button>
        </center>
      </form>
      <br>
      <center><p>Don't Have an account ? <a href="/signup">Sign up</a> Here !</p></center>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
