*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.navlist {
    display: inline-block;   
}

.mimg{
    margin-top : 50px;
}

.formmain{
    padding: 40px;;
}

.logOpt{
    margin-top : 20px;
    text-align: right;
    font-size: 18px;
}


.logOpt a{
    display: inline-block;
}

.logOpt a:hover{
    text-decoration: underline;
}

.mainCon{
    display: flex;
    padding: 30px;
    margin: 60px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.info h1{
    font-size: 2.2rem;
}

.info p{
    font-size: 1.5rem;
}

.f-img{
    width: 20rem;
    height: 20rem;
}

.quizCon{
    margin-left : 10px;
}

